<%-include("header");-%>
</div>
</section>
</body>

<h1 class="about">About</h1>
<p class="para">This is an website based on searching the need you want, many people have been struggling to find what they need, sometimes they even give up. But now they have an helping hand to search for them. You just simply search what you need for we will be ready with your searches. So no need to worry about wasting of time keep on searching.</p>





<div class="foot">
  <%-include("footer");-%>
</div>

</html>
