

<footer class="white-section" id="footer">
  <div class="container-fluid">
    <i class="social-icon fab fa-facebook-f fa-3x"></i>
    <i class="social-icon fab fa-twitter fa-3x"></i>
    <i class="social-icon fab fa-instagram fa-3x"></i>
    <i class="social-icon fas fa-envelope fa-3x"></i>
    <p>© Copyright 2020 Anirudh M.P</p>
  </div>
</footer>
