<%-include("button");-%>
        <h1 class="h3 mb-3 font-weight-normal">Log In to Search & Get</h1>
        <input type="email" name="email" class="form-control middle" placeholder="Email" required>
        <input type="password" name="password" class="form-control bottom" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
    </body>
  <section id="foote">
    <%-include("footer")-%>
  </section>
</html>
