<%-include("header")-%>

</body>
<div class="row">
  <div class="col-lg-6">
    <h1 class="big-heading">Welcome to our Search and Get website.</h1>
  </div>

  <div class="col-lg-6">
    <img class="title-image" src="images/search.png" alt="title">
  </div>

</div>
</div>
</section>


<!-- features -->
<section class="grey">
  <section class="white-section" id="features">
    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fab fa-angellist fa-4x"></i>
          <h3 class="feature-title">Easy to use</h3>
          <p>Just type the name you want to search for your results will be ready. </p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Get it by one click</h3>
          <p>We have all types of searches, it will be users friendly.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Guaranteed to work</h3>
          <p>Find the love of your day by getting out your search results.</p>
        </div>
      </div>
    </div>
  </section>


  <!-- testimonials -->


  <section class="testimonial" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <img class="testimonial-image" src="images/mov.jpg" alt="dog-profile">
          <div class="content">
            <p>Search for your favourite movies and watch</p>
          </div>
        </div>

        <div class="carousel-item container-fluid">
          <img class="testimonial-image" src="images/music.png" alt="lady-profile">
          <div class="content">
            <p>Search and listen to your favourite music</p>
          </div>
        </div>

        <div class="carousel-item container-fluid">
          <img class="testimonial-image" src="images/wall.png" alt="lady-profile">
          <div class="content">
            <p>Get your favourite wallpaper on your mobile or pc</p>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
  </section>


  <!-- description -->

  <section>
    <div class="desc">
      <h2 class="section-heading">Get ready to download your stuff</h2>
      <p>Don't miss an oppurtunity in downloading your movies, music, etc</p>
    </div>
  </section>

  <!-- showcase-->

  <section id="showcase">
    <div class="container">
      <div class="row">
        <div class="show col-lg-4 col-md-6">
          <div class="card">

            <div class="head">
              <div class="card-header">
                <h3>Movies</h3>
              </div>
            </div>

            <div class="card-body">
              <img src="images/mov.jpg" class="img" alt="">
              <button class="btn btn-lg btn-block btn-dark" type="button"><a class="link" href="/signup">Download Movies</a></button>
            </div>

          </div>
        </div>

        <div class="show col-lg-4 col-md-6">
          <div class="card">

            <div class="head">
              <div class="card-header">
                <h3>Music</h3>
              </div>
            </div>


            <div class="card-body">
              <img src="images/music.png" class="img" alt="">
              <button class="btn btn-lg btn-block btn-dark" type="button"><a class="link" href="/signup">Download Music</a></button>
            </div>

          </div>
        </div>

        <div class="show col-lg-4">
          <div class="card">

            <div class="head">
              <div class="card-header">
                <h3>Wallpapers</h3>
              </div>
            </div>

            <div class="card-body">
              <img src="images/wall.png" class="img" alt="">
              <button class="btn btn-lg btn-block btn-dark" type="button"><a class="link" href="/signup">Download Wallpapers</a></button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <%-include("footer")-%>
</section>



</html>
