<%-include("button");-%>
<h1 class="h3 mb-3 font-weight-normal">Sign up to Search & Get</h1>
<input type="text" name="fName" class="form-control top" placeholder="First Name" required autofocus>
<input type="text" name="lName" class="form-control middle" placeholder="Last Name" required>
<input type="email" name="email" class="form-control middle" placeholder="Email" required>
<input type="password" name="password" class="form-control bottom" placeholder="Password" required>
<a href="/login">Already have an account? LogIn</a>
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign me up</button>

</form>

</body>

<section id="foote">
<%-include("footer")-%>
</section>


</html>
